*{
  margin:0;
  padding:0;
}
.header{
  background-color: rgb(100, 97, 95);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.myLogo{
  border:1px dotted black;
  padding:10px;
}
.myLogo h1{
  color:rgb(42, 165, 134);
}
.myLogo h1 span{
  color:rgb(255, 0, 0);
}
.list-items ul{
display:flex;
gap: 40px;
align-items: center;
margin:0 30px;
font-size:20px;
}
.list-items ul li{
  list-style: none;
}
.list-items ul li a{
  text-decoration: none;
  color:white
}